PORT=3001
override=false

DB_HOST=x.x.x.x
DB_PORT=xxxx
DB_NAME=db
DB_USER=user
DB_PASS=pass

SMTP_HOST=xx.xxxxxx.xxx
SMTP_PORT=xxx
SMTP_FROM=xxxxxxxxxx
SMTP_SECURE=true
SMTP_USER=xxxxxx@xxxxxx.com
SMTP_PASS=xxxxxxx

TWILIO_ACCOUNT_SID=xxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxx
TWILIO_PHONE_NUMBER=xxxxx

BCRYPT_SALT_ROUNDS=10

JWT_KEY=xxxxxxx
JWT_EXPIRED=5d
JWT_VERSION=0.0.1